@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BGCOLOR: #121212;
  --SURFACE: rgba(255, 255, 255, 5%);
  --SURFACE-HOVER: rgba(255, 255, 255, 8%);
  --BORDER-COLOR: rgba(255, 255, 255, 5%);
  --BORDER-RADIUS: 1px;
  --COLOR-DARK: rgb(0, 0, 0);
  --COLOR-LIGHT: rgb(255, 255, 255);
  --SEPARATOR: rgb(220, 220, 220);
  --SUCCESS: rgb(26, 137, 23);
  --SUCCESS-HOVER: rgb(23, 122, 20);
  --ERROR: #EA6D7E;
  --INACTIVE: rgba(255, 255, 255, 3%);
  --LINK-COLOR: rgba(117, 117, 117, 1);
  --LINK-HOVER: rgb(0, 0, 0);
  --STATUS-COMPLETE: #74E39A;
  --STATUS-OPEN: #EA6D7E;
  --INPUT-INVALID: #DD0D3C;
  --PRIMARY: #EA6D7E;
  --SECONDARY: #bb86fc;
  --SECONDARY-HOVER: #b076f7;
  --NO-IMAGE: linear-gradient(135deg, var(--SURFACE) 50%, var(--SURFACE-HOVER) 50%);
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  color: var(--ERROR);
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.deleted {
  color: #7c7c7ce6 !important;
  cursor: default !important;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
  color: var(--LINK-COLOR);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.icon-button:hover,
.icon-button:focus-visible {
  color: var(--LINK-HOVER);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: white;
  color: black;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

a.active{
  color: var(--COLOR-DARK);
  transition: all 150ms linear;
}

button {
  height: 25px;
  cursor: pointer;
}

/*  || SCROLLBAR */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--BGCOLOR);
}

::-webkit-scrollbar-thumb {
  background: var(--SURFACE)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--SURFACE-HOVER)
}

/*  || LAYOUT | NAV */
.main-header__container {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  height: 57px;
  background-color: var(--COLOR-LIGHT);
  border-bottom: 1px solid var(--SEPARATOR);

  position: sticky;
  top: -57px;
  transition: all 0.55s ease;
}

.main-header-scroll {
  top: 0;
}

.main-header__title {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: -1.5px;
  color: var(--COLOR-DARK);
}

.main-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.main-header__nav {
  font-size: 14px;
}

.login__button {
  color: var(--LINK-COLOR);
  border: none;
  background: transparent;
}

.login__button:hover {
  color: var(--COLOR-DARK);
}

.signup__button {
  border: none;
  background-color: var(--SUCCESS);
  color: var(--COLOR-LIGHT);
  padding: 0 12px;
  border-radius: 99em;
  height: 32px;
  transition: background-color 300ms ease;
}

.signup__button:hover {
  background-color: var(--SUCCESS-HOVER);
}

/*  || BLOG LAYOUT */
.blog__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 100vh;
}

.blog-main__container {
  padding: 0 20px 0 10px;
  border-right: 1px solid var(--SEPARATOR);
}

/*  || BLOG LAYOUT NAV */
.blog-nav__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  background-color: var(--COLOR-LIGHT);
  border-bottom: 1px solid var(--SEPARATOR);

  position: sticky;
  top: 0;
  transition: all 0.55s ease;
}

.blog-header-scroll {
  top: 57px;
}

.blog-nav__links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 28px;
  font-size: 14px;
}

.blog-nav__select:focus {
  outline-width: 0;
}

.blog-nav__select {
  font-size: 14px;
  width: fit-content;
  padding: 0.15rem;
  background-color: var(--SURFACE);
  color: var(--LINK-COLOR);
  border: 1px solid var(--SEPARATOR);
  border-radius: 4px;
  cursor: pointer;
}




.card__container img,
.card-noimage,
.card__container-author img,
.card__container-author-noimage {
  border-radius: var(--BORDER-RADIUS);
  object-fit: cover;
  object-position: center;
}

.card__container img,
.card-noimage {
  width: 100%;
  height: 225px;
}

.card__container-author img,
.card__container-author-noimage {
  width: 90px;
  height: 90px;
}

.card-noimage,
.card__container-author-noimage {
  background-image: var(--NO-IMAGE);
}

/*  || LAYOUT 
.main-header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1.1rem 1.5rem;
}

.main-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.main-header__nav {
  display: flex;
  gap: 15px;
}

.blog__container {
  display: flex;
  width: 100;
  margin: 70px auto 40px auto;
  flex-direction: column;
  padding: 0 5rem;
}

.blog-nav__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 90px;
  height: 50px;
  position: fixed;
  top: 70px;
  width: 100%;
  left: 0;
  opacity: 1;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  height: 0;
}

.blog-nav__links {
  display: flex;
  flex-flow: col nowrap;
  gap: 1rem;
  align-items: center;
}

.blog-nav__select:focus {
  outline-width: 0;
}

.blog-nav__select {
  width: fit-content;
  padding: 0.25rem;
  background-color: var(--SURFACE);
  color: var(--COLOR);
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 4px;
}

/*  || CARDS 
.content__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-end;
  gap: 30px;
}

.card__container,
.card__container-author {
  display: flex;  justify-content: space-between;
  padding: 10px;
  border-radius: var(--BORDER-RADIUS);
  cursor: pointer;
  transition: all 0.2s ease;
}

.card__container {
  flex-direction: column;
  width: 100%;
}

.card__container-author {
  gap: 15px;
}

.card__container:hover,
.card__container-author:hover {
  background-color: var(--SURFACE-HOVER);
  border-color: var(--SURFACE-HOVER);
}

.card__container-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.card__container-bottom {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 0.9rem;
  color: var(--COLOR-SUB);
}

.card__container-bottom p svg {
  font-size: 0.7rem;
}

.card-data {
  display: flex;
  justify-content: space-between;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 7px;
}

.card-subHeading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: var(--COLOR-SUB);
  line-height: 1.25rem;
}

.card__container img,
.card-noimage,
.card__container-author img,
.card__container-author-noimage {
  border-radius: var(--BORDER-RADIUS);
  object-fit: cover;
  object-position: center;
}

.card__container img,
.card-noimage {
  width: 100%;
  height: 225px;
}

.card__container-author img,
.card__container-author-noimage {
  width: 90px;
  height: 90px;
}

.card-noimage,
.card__container-author-noimage {
  background-image: var(--NO-IMAGE);
}

.card-author-userdata {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: calc(100% - 110px);
}

.card-author-username {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-author-name {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*  || POST 
.post__container {
  padding: 0 10px;
  color: var(--COLOR-SUB);
}

.post__header {
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding-bottom: 10px;
  margin-bottom: 25px;
  gap: 1rem;
}

.post__header-title {
  color: var(--COLOR);
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.post__header-subHeading,
.post__content {
  font-size: 1.20rem;
  letter-spacing: 0.1px;
  line-height: 1.70rem
}

.post__header-metadata__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  margin-top: 15px;
}

.post__header-author {
  color: var(--PRIMARY);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.post__header-profile__container {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.post__header-profile__container img,
.post__header-profile-noimage {
  width: 40px;
  height: 40px;
  border-radius: 90px;
  cursor: pointer;
}

.post__header-profile__container img {
  object-fit: cover;
  object-position: center;
}

.post__header-profile-noimage {
  background-image: var(--NO-IMAGE);
}

.post__header-profile-flex__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post__header-views svg {
  font-size: 0.7rem;
}

.post__content {
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding-bottom: 75px;
  margin-bottom: 15px;
}

.post__header-date__container div{
  text-align: end;
}

.post-tags__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.post-tag-item {
  background-color: var(--SURFACE-HOVER);
  color: rgb(185, 185, 185);
  padding: 5px 10px;
  height: 30px;
  border: none;
  border-radius: 14px;
  transition: all 0.2s ease-in-out;
}

.post-tag-item:hover {
  background-color: var(--PRIMARY);
  color: var(--BGCOLOR);
}

/*  || FORM 
.form__container {
  display: flex;
  padding: 0 10px;
}

/*  || NO MATCH 
.no-match {
  margin-top: 10px;
  padding: 10px;
}

.no-match-page {
  padding: 10px 50px;
}*/