@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BGCOLOR: #121212;
  --SURFACE: rgba(255, 255, 255, 5%);
  --SURFACE-HOVER: rgba(255, 255, 255, 8%);
  --BORDER-COLOR: rgba(255, 255, 255, 5%);
  --BORDER-RADIUS: 1px;
  --COLOR: #FFF;
  --COLOR-SUB: #f5f5f5e6;
  --ERROR: #EA6D7E;
  --INACTIVE: rgba(255, 255, 255, 3%);
  --LINK-COLOR: #f5f5f5e6;
  --LINK-HOVER: #FFF;
  --STATUS-COMPLETE: #74E39A;
  --STATUS-OPEN: #EA6D7E;
  --INPUT-INVALID: #DD0D3C;
  --PRIMARY: #bb86fc;
  --PRIMARY-HOVER: #b076f7;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  color: var(--ERROR);
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
  color: var(--LINK-COLOR);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.icon-button:hover,
.icon-button:focus-visible {
  color: var(--LINK-HOVER);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

button {
  height: 25px;
  cursor: pointer;
}

/*  || SCROLLBAR */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--BGCOLOR);
}

::-webkit-scrollbar-thumb {
  background: var(--SURFACE)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--SURFACE-HOVER)
}

/*  || LAYOUT */
.main-header {
  position: sticky;
  top: 0;
  background-color: var(--BGCOLOR);
  padding: 1rem 1.5rem;
}

.main-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.main-header__nav {
  display: flex;
  gap: 15px;
}

.blog-container {
  display: flex;
  width: 85%;
  margin: 25px auto auto auto;
  flex-direction: column;
  padding: 0 1.5rem;
}

.blog-nav__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.blog-nav__links {
  display: flex;
  flex-flow: col nowrap;
  gap: 1rem;
  padding: 0 10px;
}

.blog-nav__select:focus {
  outline-width: 0;
}

.blog-nav__select {
  width: fit-content;
  padding: 0.25em;
  background-color: var(--SURFACE);
  color: var(--COLOR);
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 4px;
}

/*  || CARDS */
.content__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content__container h2 {
  padding-left: 10px;
}

.card-grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: flex-end;
  gap: 50px 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 335px;
  width: 100%;
  border-radius: var(--BORDER-RADIUS);
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease;
}

.card-container:hover {
  background-color: var(--SURFACE-HOVER);
  border-color: var(--SURFACE-HOVER);
}

.card__container-top {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__container-bottom {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 0.9rem;
  color: var(--COLOR-SUB);
}

.card__container-bottom p svg {
  font-size: 0.7rem;
}

.card-data {
  display: flex;
  justify-content: space-between;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  margin-top: 5px;
}

.card-subHeading {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--COLOR-SUB);
}

.card-container img {
  width: 100%;
  height: 145px;
  object-fit: cover;
  border-radius: var(--BORDER-RADIUS);
  object-position: center;
}